{% assign posts=site.posts | where:"lang", page.lang %}
<ul class="list flex flex-wrap pa0">
{% for post in posts %}
  <li class="w-100 flex flex-column flex-row-ns pb2 pb4-ns">
    <div class="w-50-ns flex-shrink-0">
      <a href="{{ site.baseurl }}{{ post.url }}">
        <img src="{{ site.assets }}/images/posts/{{ post.ref }}/{{ post.ref }}-thumbnail.jpg" />
      </a>
    </div>
    <div class="ml3-ns">
      <span class="dark-gray i dn db-ns mb2">
        {% include date.liquid date=post.date %}
      </span>
      <h2 class="mt0">
        <a class="black no-underline" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
      </h2>
      {% comment %} {{ post.excerpt }} {% endcomment %}
    </div>
  </li>
{% endfor %}
</ul>
